#toplevel_page_stop_spammers .wp-menu-image img, #oam_toplevel_page_stop_spammers .wp-menu-image {
	max-height: 20px;
	padding: 7px 0 0;
}

.icon-action {
	max-width: 16px;
	max-height: 16px;
}

#ss-plugin, #ss-plugin * {
	box-sizing: border-box;
}

#ss-plugin .ss_head {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 30px;
	font-weight: bold;
}

#ss-plugin .keyhead {
	display: block;
	font-size: 16px !important;
	margin-left: 30px;
}

#ss-plugin .ipbox {}

#ss-plugin img {
	margin-right: 5px;
}

.ss_action img {
	width: 23px;
	cursor: pointer;
}

#ss-plugin ul, #ss-plugin ol {
	margin: 30px 0 30px 60px;
}

#ss-plugin ul ul, #ss-plugin ol ol, #ss-plugin ul ol, #ss-plugin ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

#ss-plugin ol {
	list-style: decimal outside;
	list-style-type: decimal-leading-zero;
	margin-left: 70px;
}

#ss-plugin ul li {
	list-style-type: '— ';
}

#ss-plugin li {
	line-height: 125%;
	margin: 20px 0;
}

#ss-plugin input[type="text"] {
	max-width: 400px;
}

#ss-plugin textarea {
	width: 100% !important;
	max-width: 500px !important;
}

#ss-plugin fieldset {
	width: 100%;
	padding: 15px;
	margin: 30px 0 0;
}

#ss-plugin .phpinfodisplay table {
	width: 100%;
}

#ss-plugin #sstable {
	width: 100%;
	background-color: #eee;
}

#ss-plugin td {
	padding: 10px;
}

#ss-plugin .main-stats {}

#ss-plugin .stat-box {
	padding: 5px 10px;
	background: #fff;
	margin: 5px;
	border-radius: 2;
	float: left;
}

#ss-plugin .button-primary {
	padding: 5px 15px;
}

#ss-plugin .postbox .inside {
	padding-bottom: 0;
}

#ss-plugin .ss_admin_button a {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 15px;
	border: 1px solid #8a66f4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	font-family: Open Sans, helvetica, sans-serif;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	color: #fff;
	background-color: #b29af8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b29af8), to(#9174ed));
	background-image: -webkit-linear-gradient(top, #b29af8, #9174ed);
	background-image: -moz-linear-gradient(top, #b29af8, #9174ed);
	background-image: -ms-linear-gradient(top, #b29af8, #9174ed);
	background-image: -o-linear-gradient(top, #b29af8, #9174ed);
	background-image: linear-gradient(to bottom, #b29af8, #9174ed);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b29af8, endColorstr=#9174ed);
}

#ss-plugin .ss_admin_button a:hover {
	border: 1px solid #693bf1;
	background-color: #8e6af5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8e6af5), to(#6d47e7));
	background-image: -webkit-linear-gradient(top, #8e6af5, #6d47e7);
	background-image: -moz-linear-gradient(top, #8e6af5, #6d47e7);
	background-image: -ms-linear-gradient(top, #8e6af5, #6d47e7);
	background-image: -o-linear-gradient(top, #8e6af5, #6d47e7);
	background-image: linear-gradient(to bottom, #8e6af5, #6d47e7);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8e6af5, endColorstr=#6d47e7);
}

#ss-plugin .ss_admin_info_boxes_1col {
	float: left;
	width: 94%;
	min-height: 100px;
	margin: 10px;
	padding: 15px;
	text-align: center;
	background: white;
}

#ss-plugin .ss_admin_info_boxes_1col:hover {
	background: #f9f9f9;
}

#ss-plugin .ss_admin_info_boxes_2col {
	float: left;
	width: 47%;
	min-height: 300px;
	margin: 10px;
	padding: 15px;
	text-align: center;
	background: white;
}

#ss-plugin .ss_admin_info_boxes_2col:hover {
	background: #f9f9f9;
}

/* create three equal columns that float next to each other */
#ss-plugin .ss_admin_info_boxes_3col {
	float: left;
	width: 30%;
	min-height: 300px;
	margin: 10px;
	padding: 15px;
	text-align: center;
	background: white;
}

#ss-plugin .ss_admin_info_boxes_3col:hover {
	background: #f9f9f9;
}

/* clear floats after the columns */
#ss-plugin .ss_admin_info_boxes_3row:after {
	content: "";
	display: table;
	clear: both;
}

/* center image thumbs */
#ss-plugin .center_thumb {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 75px !important;
	height: 75px !important;
	margin-bottom: 15px;
}

#ss-plugin .ss_sup a {
	display: inline-block;
	width: 22px;
	height: 22px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 1.5px;
	border-radius: 50%;
	background: purple;
}

#ss-plugin #ssinput {
	width: 170px !important;
	max-width: 170px !important;
}

#ss-plugin .filterhead {
	cursor: pointer;
}

#ss-plugin th.ss_cleanup {
	position: sticky;
	top: 32px;
	background: #675682;
	text-transform: uppercase;
	color: #fff;
}

#ss-plugin .ss_cleanup_tr:hover {
	background: #F1F1F1 !important;
}

/* checkbox toggle switch */
#ss-plugin div.checkbox.switcher label, #ss-plugin div.radio.switcher label {
	padding: 0;
}

#ss-plugin div.checkbox.switcher label *, #ss-plugin div.radio.switcher label * {
	vertical-align: middle;
	font-size: 12px;
}

#ss-plugin div.checkbox.switcher label input, #ss-plugin div.radio.switcher label input {
	display: none;
}

#ss-plugin div.checkbox.switcher label input + span, div.radio.switcher label input + span {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width: 56px;
	height: 28px;
	background: #d9534f;
	border: 1px solid #d43f3a;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
}

#ss-plugin div.checkbox.switcher label input[disabled="disabled"] + span {
	background: gray;
	border-color: gray;
}

#ss-plugin div.checkbox.switcher label input + span small, #ss-plugin div.radio.switcher label input + span small {
	position: absolute;
	display: block;
	width: 50%;
	height: 100%;
	background: #fff;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
	left: 0;
}

#ss-plugin div.checkbox.switcher label input + span small:before, #ss-plugin div.radio.switcher label input + span small:before {
	content: 'Off';
	position: absolute;
	top: 4.5px;
	left: 31px;
	width: 26px;
	height: 26px;
	border-radius: 90px;
	transition: 0.3s;
	text-indent: 0;
	color: #fff;
}

#ss-plugin div.checkbox.switcher label input:checked + span, #ss-plugin div.radio.switcher label input:checked + span {
	background: #5cb85c;
	border-color: #4cae4c;
}

#ss-plugin div.checkbox.switcher label input:checked + span small, #ss-plugin div.radio.switcher label input:checked + span small {
	left: 50%;
}

#ss-plugin div.checkbox.switcher label input:checked + span small:before, #ss-plugin div.radio.switcher label input:checked + span small:before {
	content: 'On';
	position: absolute;
	top: 4.5px;
	left: -20px;
	width: 26px;
	height: 26px;
	border-radius: 90px;
	transition: 0.3s;
	text-indent: 0;
	color: #fff;
}

#ss-plugin div.checkbox.switcher label input:checked + span small:after, #ss-plugin div.radio.switcher label input:checked + span small:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

#ss-plugin div.checkbox.switcher label:active:after {
	width: 60px;
}

#ss-plugin #ss_subhead {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 20px !important;
	font-weight: 500;
	margin-left: 30px;
}

#ss-plugin #ss_subhead div.container {
	padding: 5% 0;
}

#ss-plugin #ss_subhead2 {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 500;
}

#ss-plugin .tooltip {
	position: relative;
	display: inline-block;
	top: 10px;
	margin-left: 5px;
}

#ss-plugin .tooltip .tooltiptext {
	visibility: hidden;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: justify;
	font-family: 'Lato';
	font-size: 13px;
	line-height: 16px;
	border-radius: 3px;
	padding: 5px 0;
	/* position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
	padding: 10px;
}

#ss-plugin .tooltip:hover .tooltiptext {
	visibility: visible;
}

#ss-plugin .ss_option_header {
	font-size: 16px !important;
}

#ss-plugin .ss_info_box {
	background: white !important;
	width: 100%;
	padding: 1.5em;
	margin: 20px 0;
	box-sizing: border-box;
}

#ss-plugin i.fa.fa-question-circle {
	color: #444 !important;
}

#ss-plugin i.fa.fa-question-circle:hover {
	color: #e52a6f !important;
}

#ss-plugin .ss_icon {
	max-height: 30px;
}

#ss-plugin .ss-small-box {
	width: 35px;
	text-align: center;
	display: initial !important;
}

#ss-plugin select.ss-small-dropbox{
	vertical-align: baseline;
}

#ss-plugin div.mainsection {
	font-weight: bold;
	font-size: 18px;
	margin: 30px 0 15px;
}

#ss-plugin .center {
	text-align: center;
}

.wrap > div.notice {
	margin-bottom: 30px;
}

.ss-hide-links {
	position: absolute;
	right: 0;
	margin: 5px 25px 0 0;
}

.ss-hide-links a {
	font-size: 12px;
	color: gray;
	text-decoration: underline;
	cursor: pointer;
}

/* .ss-hide-links .ss-hide-notice {
	margin-left: 10px;
	padding: 4px 10px;
	border: 1px solid orange;
	color: orange;
	border-radius: 5px;
	font-size: 13px;
	text-decoration: none;
	cursor: pointer;
} */

.update-nag.notice.notice-warning.inline .ss-hide-notices {
	margin-bottom: 10px;
}

.ss_disable_admin_emails_wraps {
	margin-left: 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	margin-top: 15px;
}

/* ssp firewall */
.column-created, .column-duration {
	width: 10%;
}

.column-code, .column-created, .column-postdata, .column-state {
	width: 8%;
	font-family: inherit;
}

.ssp-firewall-hidden {
	display: none;
}

.type-ssp-firewall td {
	height: 100%;
	position: relative;
	padding-bottom: 24px;
}

.type-ssp-firewall .label {
	top: -2px;
	left: 0;
	width: 4px;
	height: 100%;
	display: inline-block;
	position: absolute;
	background: #0ee162;
}

.type-ssp-firewall .label.blacklisted_1 {
	background: #d54e21;
}

.type-ssp-firewall .column-state .blocked, .type-ssp-firewall .row-actions .block {
	color: #bc0b0b;
}

.type-ssp-firewall .column-state .authorized, .type-ssp-firewall .row-actions .unblock {
	color: #006505;
}

input#ssp-firewall_delete_all {
	float: right;
	margin: 1px 0 0 16px;
}

/* responsive layout */
@media(max-width: 680px) {

	#ss-plugin .ss_admin_info_boxes_1col, #ss-plugin .ss_admin_info_boxes_2col, #ss-plugin .ss_admin_info_boxes_3col {
		width: 94%;
	}

	#ss-plugin th.ss_cleanup {
		top: 48px;
	}

}